{% extends "main_template.html" %}
{% block title %}store{% endblock %}
{% load static %}
{% block content %}

<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	<div id="sidebar" class="span3">
		<div class="well well-small"><a id="myCart" href="product_summary.html"><img src="themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
		<ul id="sideManu" class="nav nav-tabs nav-stacked">
			
			
			
			<li class="subMenu open"><a>Чай ({{tea_produkt_count}})</a>
				<ul>
				{% for i in tea_produkt %}
				<li><a class="active" href="products.html"><i class="icon-chevron-right"></i>{{i.name}}</a></li>
				{% endfor %}
				</ul>
			</li>
			<li class="subMenu open"><a>Электроника ({{electronic_produkt_count}})</a>
				<ul>
				{% for i in electronic_produkt %}
				<li><a class="active" href="products.html"><i class="icon-chevron-right"></i>{{i.name}}</a></li>
				{% endfor %}
				</ul>
			</li>
			 
			
		</ul>
		<br/>
		 
	</div> 
<!-- Sidebar end=============================================== -->
	<div class="span9" id="mainCol">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Page Title</li>
    </ul>
	<h3> Контакты</h3>	
	<hr class="soft"/>
	<h5>Контакты для связи...</h5><br/>
	<p>
	{{contact.text}}
</p>


</div>
</div></div>
</div>
<!-- MainBody End ============================= -->

{% endblock %}