{% extends "main_template.html" %}
{% block title %}store{% endblock %}
{% load static %}
{% block content %}

<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
{% include 'sidebar.html'%}
<!-- Sidebar end=============================================== -->
	<div class="span9" id="mainCol">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Контакты</li>
    </ul>
	<h3> Контакты</h3>	
	<hr class="soft"/>
	<h5>Контакты для связи...</h5><br/>
	<p>
	{{contact.text}}
</p>


</div>
</div></div>
</div>
<!-- MainBody End ============================= -->

{% endblock %}